<h1 class="title">About me</h1>
<section class="section">
    <img src="assets/profile-image.jpg" alt="">
    <h2 class="about-text light-slate">
        Hello! My name is Odubo Tari and I make well designed and responsive websites.

        I am a First class graduate of Electrical/Electronic Engineering with a knack for solving complex problems and a high level of attention to detail. I was introduced to programming for the first time in my second year during my undergraduate studies. There were so many other courses to study for at the time so I went into programming full time after graduation and I really love it. Continuously working and learning everyday to get better and have experience.
    </h2>
</section>
<!-- tasks -->
<!-- cogs -->