<h1 class="title">Projects</h1>
<div class="ui cards">
    
    <a href="https://eservices.ncc.gov.ng/" target="_blank">
        <div class="ui card">
            <div class="ui slide masked reveal image">
              <img src="assets/project_images/ncc_eservices1.png" class="visible content">
              <img src="assets/project_images/ncc_eservices2.png" class="hidden content">
            </div>
            <div class="content">
              <a class="header">NCC E-services</a>
              <div class="meta">
                <span class="date">Angular</span>
              </div>
            </div>
        </div>
    </a>

    <a href="https://tamsy.ncc.gov.ng/" target="_blank">
        <div class="ui card">
            <div class="ui slide masked reveal image">
              <img src="assets/project_images/tamsy1.png" class="visible content">
              <img src="assets/project_images/tamsy2.png" class="hidden content">
            </div>
            <div class="content">
              <a class="header">NCC Tamsy</a>
              <div class="meta">
                <span class="date">Angular</span>
              </div>
            </div>
        </div>
    </a>


</div>