<p class="intro">Hi, my name is</p>
<h2 class="big-heading lightest-slate name">Odubo Tari.</h2>
<h3 class="big-heading light-slate">I build beautiful and responsive websites.</h3>
<p class="about light-slate">
    I'm a frontend web developer with experience using HTML, CSS, JavaScript, Typescript and Angular
    to build fully functional web apps.
</p>
<div class="flex buttons">
    <a class="green-outline-button contact-btn" routerLink="/contact">
        Get in touch
    </a>
    <div class="ui dropdown" suiDropdown>
        <a class="green-outline-button contact-btn">
            <i class="github icon"></i>
            Github
            <i class="dropdown icon"></i>
        </a>
        <div class="menu" suiDropdownMenu>
            <div class="item gh-links">
                <a class="green" href="https://github.com/Crispinrose" target="_blank">Personal</a>
                <a class="green" href="https://github.com/tariodubo" target="_blank">Work</a>
            </div>
        </div>
    </div>
</div>
